<div class="buttons">

	<div class="btngroup submit">
		<input type="submit" class="btn submit" value="{{ 'Save'|t }}">

		<div class="btn submit menubtn"></div>
		<div class="menu">
			<ul>
				<li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">{{ "Save and continue editing"|t }}</a></li>
				<li><a class="formsubmit" data-redirect="applications/{{ formHandle }}/new">{{ "Save and add another"|t }}</a></li>
			</ul>
		</div>
	</div>

	{% if application.status != 'approved' %}
	<input type="button" class="btn formsubmit" value="{{ 'Approve'|t }}" data-action="applications/approve"
		data-confirm="{{ 'Are you sure you want to change this application to approved?'|t }}"
		data-redirect="applications">
	{% endif %}
	{% if application.status != 'denied' %}
	<input type="button" class="btn formsubmit" value="{{ 'Deny'|t }}" data-action="applications/deny"
		data-confirm="{{ 'Are you sure you want to change this application to denied?'|t }}"
		data-redirect="applications">
	{% endif %}
	{% if application.status != 'pending' %}
	<input type="button" class="btn formsubmit" value="{{ 'Pending'|t }}" data-action="applications/pending"
		data-confirm="{{ 'Are you sure you want to change this application to pending?'|t }}"
		data-redirect="applications">
	{% endif %}
	<input type="button" class="btn formsubmit" value="{{ 'Delete'|t }}" data-action="applications/delete"
		data-confirm="{{ 'Are you sure you want to delete this application?'|t }}"
		data-redirect="applications">
</div>
