{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set formHandle = form.handle %}


{% macro dateTimeField(application, attribute, label) %}

	{% import "_includes/forms" as forms %}

	{% set input %}
		{{ forms.date({
			id:        attribute,
			name:      attribute,
			value:     application.getAttribute(attribute),
			errors:    application.getErrors(attribute),
		}) }}

		{{ forms.time({
			id:        attribute,
			name:      attribute,
			value:     application.getAttribute(attribute),
			errors:    application.getErrors(attribute),
		}) }}
	{% endset %}

	{{ forms.field({
		id:       attribute,
		label:    label,
		first:    (attribute == 'submitDate'),
		required: true
	}, input) }}

{% endmacro %}

{% from _self import dateTimeField %}

{% block content %}

	<form id="application-form" method="post" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="{{ continueEditingUrl }}">
		<input type="hidden" name="action" value="applications/saveApplication">
		<input type="hidden" name="redirect" value="applications">
		<input type="hidden" name="formId" value="{{ form.id }}">
		{% if application.id %}<input type="hidden" name="applicationId" value="{{ application.id }}">{% endif %}
		{% if craft.isLocalized() %}<input type="hidden" name="locale" value="{{ application.locale }}">{% endif %}

		{{ forms.textField({
			label: "Title"|t,
			id: 'title',
			name: 'title',
			value: application.title,
			errors: application.getErrors('title'),
			first: true,
			autofocus: true,
			required: true
		}) }}

		{{ dateTimeField(application, 'submitDate', "Submit Date"|t, true) }}

		<div>
			{% for tab in form.getFieldLayout().getTabs() %}
				<div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
					{% include "_includes/fields" with {
						fields: tab.getFields(),
						element: application
					} only %}
				</div>
			{% endfor %}
		</div>

		<div class="buttons">
			<div class="btngroup submit first">
				<input type="submit" class="btn submit" value="{{ 'Save'|t }}">

				<div class="btn submit menubtn"></div>
				<div class="menu">
					<ul>
						<li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">{{ "Save and continue editing"|t }}</a></li>
						<li><a class="formsubmit" data-redirect="applications/{{ formHandle }}/new">{{ "Save and add another"|t }}</a></li>
					</ul>
				</div>
			</div>

			<input type="button" class="btn formsubmit" value="{{ 'Delete'|t }}" data-action="applications/deleteApplication"
				data-confirm="{{ 'Are you sure you want to delete this application?'|t }}"
				data-redirect="applications">
		</div>
	</form>
{% endblock %}
