{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set name = application.firstName ~ ' ' ~ application.lastName %}
{% set title = 'Application for ' ~ name %}

{% set formHandle = form.handle %}

{% block content %}

    <form id="application-form" method="post" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="{{ continueEditingUrl }}">
        <input type="hidden" name="action" value="applications/save">
        <input type="hidden" name="redirect" value="applications">
        <input type="hidden" name="formId" value="{{ form.id }}">
        {% if application.id %}
            <input type="hidden" name="applicationId" value="{{ application.id }}">
        {% endif %}
        {% if craft.isLocalized() %}
            <input type="hidden" name="locale" value="{{ application.locale }}">
        {% endif %}

        {% include 'applications/_partials/required-fields' %}

        <hr>

        {% include 'applications/_partials/field-layout-tabs' %}

        <hr>

        {% include 'applications/_partials/buttons' %}
    </form>

{% endblock %}
