{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# @TODO remove this soon as it doesnt work #}
{% set applicationStatuses = {
    'Approved': 'approved'|t,
    'Denied': 'denied'|t,
    'Pending': 'pending'|t
} %}

{% set formHandle = form.handle %}

{% block content %}

    <form id="application-form" method="post" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="{{ continueEditingUrl }}">
        <input type="hidden" name="action" value="applications/saveApplication">
        <input type="hidden" name="redirect" value="applications">
        <input type="hidden" name="formId" value="{{ form.id }}">
        {% if application.id %}
            <input type="hidden" name="applicationId" value="{{ application.id }}">
        {% endif %}
        {% if craft.isLocalized() %}
            <input type="hidden" name="locale" value="{{ application.locale }}">
        {% endif %}

        <div class="left" style="width: 40%;">
            {{ forms.textField({
                label: "Applicants Name"|t,
                id: 'name',
                name: 'name',
                instructions: "First and last name (i.e John Doe)",
                value: application.name,
                errors: application.getErrors('name'),
                first: true,
                autofocus: true,
                required: true
            }) }}
        </div>

        <div class="right" style="width: 50%">
            {{ forms.textField({
                label: "Applicants Email"|t,
                id: 'email',
                name: 'email',
                instructions: "Applicants email address, notifications will be sent to this email",
                value: application.email,
                errors: application.getErrors('email'),
                required: true
            }) }}
        </div>
        <div class="clear"></div>

        <div class="left" style="width: 40%; margin-top: 21px">
            {{ forms.textField({
                label: "Phone Number"|t,
                id: 'phone',
                name: 'phone',
                instructions: "Applicants phone number",
                value: application.phone,
                errors: application.getErrors('phone'),
                required: true
            }) }}
        </div>

        <div class="right" style="width: 50%; margin-top: 21px">
            {{ forms.dateField({
                label: "Submit Date"|t,
                id: 'submitDate',
                name: 'submitDate',
                instructions: "Submission date of the application",
                value: application.submitDate,
                errors: application.getErrors('submitDate'),
                required: true
            }) }}
        </div>
        <div class="clear"></div>

        <hr>

        {{ forms.selectField({
            label: "Application Status"|t,
            id: 'application.status',
            name: 'application.status',
			instructions: "Current status of the application",
            options: applicationStatuses,
            value: application.status,
        }) }}

        <hr>

        <div>
            {% for tab in form.getFieldLayout().getTabs() %}
                <div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
                    {% include "_includes/fields" with {
                        fields: tab.getFields(),
                        element: application
                    } only %}
                </div>
            {% endfor %}
        </div>

        <hr>

        <div class="buttons">
            <div class="btngroup submit first">
                <input type="submit" class="btn submit" value="{{ 'Save'|t }}">

                <div class="btn submit menubtn"></div>
                <div class="menu">
                    <ul>
                        <li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">{{ "Save and continue editing"|t }}</a></li>
                        <li><a class="formsubmit" data-redirect="applications/{{ formHandle }}/new">{{ "Save and add another"|t }}</a></li>
                    </ul>
                </div>
            </div>

            <input type="button" class="btn formsubmit" value="{{ 'Delete'|t }}" data-action="applications/deleteApplication"
                data-confirm="{{ 'Are you sure you want to delete this application?'|t }}"
                data-redirect="applications">
        </div>
    </form>
{% endblock %}
