{% import "_includes/forms" as forms %}

{% if settings.notificationEmail is null %}
	<p style="margin-bottom: 42px">You must edit these settings to ensure notifications. If you do not setup notifications, you <strong>will not</strong> receive application submission alerts.</p>
{% endif %}

{{ forms.textField({
	first:        true,
	label:        "Notification Email"|t,
	id:           'notificationEmail',
	name:         'notificationEmail',
	instructions: "The email address that new application entries will be sent too. Separate multiple email addresses with commas."|t,
	value:        settings.notificationEmail,
	autofocus:    true,
	errors:       settings.getErrors('notificationEmail')
}) }}

{{ forms.textField({
	first:        true,
	label:        "Notification Subject"|t,
	id:           'notificationSubject',
	name:         'notificationSubject',
	instructions: "The email subject line that new application entries will be sent with."|t,
	value:        settings.notificationSubject,
	errors:       settings.getErrors('notificationSubject')
}) }}

{{ forms.textAreaField({
	label:        "Notification Message"|t,
	id:           'notificationMessage',
	name:         'notificationMessage',
	instructions: "The message content that will be sent in the notification email."|t,
	value:        settings.notificationMessage,
	rows:         '4',
	errors:       settings.getErrors('notificationMessage')
}) }}
